
build*/
bin/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.vcxproj
*.vcxproj.*
*.rule
*.bin
*.log
*.c
*.check_cache
*.stamp.*
*.stamp
*.sln
*.dep
*.rc
*.autosave
/dep/mysqllite/config.h
my_config.h
mysql_version.h
revision.h
#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
