#OS Files
[Tt]humbs.db
*.DS_Store

#Visual Studio Files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
obj/
ipch/
*.psess
*.vsp
*.user

#Tools
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project Files
[Bb]uild/


*.suo